<app-toolbar [title]="componentTitle"></app-toolbar>

<div id="registerAdminForm">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Nowy administrator</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #adminForm="ngForm" [formGroup]="registerForm">
        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'email'}}</mat-icon>
          <input formControlName="email" name="email" matInput placeholder="Email" required>
          <mat-error *ngIf="form.email.errors">Pole wymagane w postaci adresu email</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="adminForm.invalid" (click)="onSubmit(adminForm.value)" color="primary">
        <mat-icon>save</mat-icon>
        Zarejestruj
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
