mat-grid-tile {
  background: #AD1457;
  font-weight: bolder;
  font-size: large;
  color: whitesmoke;
}

mat-grid-list {
  margin: 8% 8% 1%;
  position: relative;
}

mat-icon {
  transform: scale(2);
  padding-right: 10px;
}
