<app-toolbar [title]="componentTitle"></app-toolbar>

<mat-grid-list cols="2" rowHeight="3:1" [gutterSize]="'45px'">
  <mat-grid-tile (click)="onNewSaleInvoiceClick()">
    <mat-icon>note_add</mat-icon>
    Nowa faktura sprzedaży
  </mat-grid-tile>

  <mat-grid-tile (click)="onNewPurchaseInvoiceClick()">
    <mat-icon>note_add</mat-icon>
    Nowa faktura zakupu
  </mat-grid-tile>

  <mat-grid-tile (click)="onGenerateSAFTClick()">
    <mat-icon>build</mat-icon>
    Generuj JPK
  </mat-grid-tile>

  <mat-grid-tile (click)="onDownloadSAFTClick()">
    <mat-icon>cloud_download</mat-icon>
    Pobierz JPK
  </mat-grid-tile>

  <mat-grid-tile (click)="onSaleRecordClick()">
    <mat-icon>view_headline</mat-icon>
    Lista faktur sprzedaży
  </mat-grid-tile>

  <mat-grid-tile (click)="onPurchaseRecordClick()">
    <mat-icon>view_headline</mat-icon>
    Lista faktur zakupu
  </mat-grid-tile>
</mat-grid-list>

<app-footer-relative></app-footer-relative>
