<app-toolbar [title]="componentTitle"></app-toolbar>
<div class="mat-elevation-z8 example-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{cardTitle}}</mat-card-title>
      <mat-card-subtitle class="normal-font" *ngIf="!readMode && !editMode">W celu wprowadzenia nowej faktury zakupu,
        wypełnij poniższy formularz i
        zatwierdź go przyciskiem "Zapisz"
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #invoiceFormId="ngForm" [formGroup]="purchaseInvoiceForm">

        <mat-form-field class="field-with-margin">
          <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="dateOfIssue" name="dateOfIssue"
                 placeholder="Data wystawienia" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="form.dateOfIssue.hasError('required') && (form.dateOfIssue.dirty || form.dateOfIssue.touched)">{{requiredMsg}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field-with-margin">
          <input matInput formControlName="number" name="number" placeholder="Numer faktury" required>
          <mat-error
            *ngIf="form.number.hasError('required') && (form.number.dirty || form.number.touched)">{{requiredMsg}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="reckoningName" [compareWith]="compareFn" placeholder="Okres rozliczeniowy">
            <mat-option *ngFor="let reckoning of reckoningsNames" [value]="reckoning.name">
              {{reckoning.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>

        <div class="counterparty-div">
          <mat-card-subtitle>Dane kontrahenta</mat-card-subtitle>
          <form #counterpartyFormId="ngForm" [formGroup]="counterpartyForm">
            <div class="input-with-bigger-space">
              <mat-error *ngIf="errorMessage && errorMessage.length !== 0">{{errorMessage}}</mat-error>
              <mat-form-field class="fullWidthControl">
                <input matInput formControlName="nip" name="nip" placeholder="NIP" required>
                <mat-error
                  *ngIf="(counterpartyFields.nip.hasError('required') || counterpartyFields.nip.hasError('pattern') || counterpartyFields.nip.hasError('validNIPSchema')) && (counterpartyFields.nip.dirty || counterpartyFields.nip.touched)">{{invalidNIPMsg}}
                </mat-error>
              </mat-form-field>

              <button class="gus-button" mat-raised-button [disabled]="counterpartyFields.nip.invalid || readMode"
                      (click)="onGUSDataButtonClick(counterpartyFormId.value.nip)"
                      color="primary">
                Pobierz dane z GUS
              </button>
            </div>

            <mat-progress-bar *ngIf="isLoadingDataFromGUS" mode="indeterminate"></mat-progress-bar>

            <div class="input-with-bigger-space">
              <mat-form-field class="fullWidthControl wide-field">
                <input matInput formControlName="name" name="name" placeholder="Nazwa firmy" required>
                <mat-error
                  *ngIf="counterpartyFields.name.hasError('required') && (counterpartyFields.name.dirty || counterpartyFields.name.touched)">{{requiredMsg}}
                </mat-error>
              </mat-form-field>
            </div>

            <form [formGroup]="addressForm">
              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="voivodeship" name="voivodeship" placeholder="Województwo" required>
                <mat-error
                  *ngIf="addressFormFields.voivodeship.hasError('required') && (addressFormFields.voivodeship.dirty || addressFormFields.voivodeship.touched)">{{requiredMsg}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="county" name="county" placeholder="Powiat" required>
                <mat-error
                  *ngIf="addressFormFields.county.hasError('required') && (addressFormFields.county.dirty || addressFormFields.county.touched)">{{requiredMsg}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="zipCode" name="zipCode" placeholder="Kod pocztowy" required>
                <mat-error
                  *ngIf="(addressFormFields.zipCode.hasError('required') || addressFormFields.zipCode.hasError('pattern')) && (addressFormFields.zipCode.dirty || addressFormFields.zipCode.touched)">{{invalidZipCodeMsg}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="borough" name="borough" placeholder="Gmina" required>
                <mat-error
                  *ngIf="addressFormFields.borough.hasError('required') && (addressFormFields.borough.dirty || addressFormFields.borough.touched)">{{requiredMsg}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="town" name="town" placeholder="Miejscowość" required>
                <mat-error
                  *ngIf="addressFormFields.town.hasError('required') && (addressFormFields.town.dirty || addressFormFields.town.touched)">{{requiredMsg}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="street" name="street" placeholder="Ulica">
              </mat-form-field>

              <mat-form-field class="fullWidthControl field-with-margin">
                <input matInput formControlName="buildingNumber" name="buildingNumber" placeholder="Numer budynku"
                       required>
                <mat-error
                  *ngIf="addressFormFields.buildingNumber.hasError('required') && (addressFormFields.buildingNumber.dirty || addressFormFields.buildingNumber.touched)">{{requiredMsg}}
                </mat-error>
              </mat-form-field>
            </form>
          </form>
        </div>

        <mat-divider></mat-divider>
        <div class="elements-header ">
          <mat-card-subtitle> Pozycje zakupu
            <button mat-raised-button class="inline-left-button" (click)="openDialog()" [disabled]="readMode"
                    color="primary">
              <mat-icon>add</mat-icon>
              Nowa pozycja
            </button>

            <mat-checkbox color="primary" class="checkbox-invoice-input" formControlName="deducted">
              Faktura podlegająca odliczeniu
            </mat-checkbox>
            <mat-checkbox color="primary" class="checkbox-invoice-input" formControlName="fixedAsset">
              Środek trwały
            </mat-checkbox>

          </mat-card-subtitle>
        </div>

        <table mat-table [dataSource]="data" class="example-table">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nazwa</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="net">
            <th mat-header-cell *matHeaderCellDef>Netto</th>
            <td mat-cell *matCellDef="let row">{{row.net}}</td>
          </ng-container>

          <ng-container matColumnDef="taxRate">
            <th mat-header-cell *matHeaderCellDef>Stawka VAT [%]</th>
            <td mat-cell *matCellDef="let row">{{taxRate[row.taxRate]}}</td>
          </ng-container>

          <ng-container matColumnDef="vat">
            <th mat-header-cell *matHeaderCellDef>VAT</th>
            <td mat-cell *matCellDef="let row">{{row.vat}}</td>
          </ng-container>

          <ng-container matColumnDef="gross">
            <th mat-header-cell *matHeaderCellDef>Brutto</th>
            <td mat-cell *matCellDef="let row">{{row.gross}}</td>
          </ng-container>

          <ng-container matColumnDef="editButton">
            <th mat-header-cell *matHeaderCellDef>Edycja</th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button (click)="openDialog(row)" [disabled]="readMode" color="accent">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="deleteButton">
            <th mat-header-cell *matHeaderCellDef>Usuwanie</th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button (click)="deleteElement(row)" [disabled]="readMode" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-divider></mat-divider>

        <div class="sum-up-div">
          <mat-card-subtitle>Podsumowanie</mat-card-subtitle>
          <mat-form-field class="field-with-margin">
            <input matInput formControlName="netHigh" name="netHigh" placeholder="Netto {{taxRate['HIGH']}}%"
                   (ngModelChange)="countSuggestedGross()" required>
            <mat-error
              *ngIf="(form.netHigh.hasError('required') ||  form.netHigh.hasError('pattern')) && (form.netHigh.dirty || form.netHigh.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-with-margin">
            <input matInput formControlName="vatHigh" name="vatHigh" placeholder="Vat {{taxRate['HIGH']}}%"
                   (ngModelChange)="countSuggestedGross()" required>
            <mat-error
              *ngIf="(form.vatHigh.hasError('required') ||  form.vatHigh.hasError('pattern')) && (form.vatHigh.dirty || form.vatHigh.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-with-margin">
            <input matInput formControlName="netMedium" name="netMedium" placeholder="Netto {{taxRate['MEDIUM']}}%"
                   (ngModelChange)="countSuggestedGross()" required>
            <mat-error
              *ngIf="(form.netMedium.hasError('required') ||  form.netMedium.hasError('pattern')) && (form.netMedium.dirty || form.netMedium.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-with-margin">
            <input matInput formControlName="vatMedium" name="vatMedium" placeholder="Vat {{taxRate['MEDIUM']}}%"
                   (ngModelChange)="countSuggestedGross()" required>
            <mat-error
              *ngIf="(form.vatMedium.hasError('required') ||  form.vatMedium.hasError('pattern')) && (form.vatMedium.dirty || form.vatMedium.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-with-margin">
            <input matInput formControlName="netLow" name="netLow" placeholder="Netto {{taxRate['LOW']}}%"
                   (ngModelChange)="countSuggestedGross()" required>
            <mat-error
              *ngIf="(form.netLow.hasError('required') ||  form.netLow.hasError('pattern')) && (form.netLow.dirty || form.netLow.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-with-margin">
            <input matInput formControlName="vatLow" name="vatLow" placeholder="Vat {{taxRate['LOW']}}%"
                   (ngModelChange)="countSuggestedGross()" required>
            <mat-error
              *ngIf="(form.vatLow.hasError('required') ||  form.vatLow.hasError('pattern')) && (form.vatLow.dirty || form.vatLow.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-with-margin">
            <input matInput formControlName="gross" name="gross" placeholder="Brutto" required>
            <mat-error
              *ngIf="(form.gross.hasError('required') ||  form.gross.hasError('pattern')) && (form.gross.dirty || form.gross.touched)">{{invalidAmountMsg}}
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button [disabled]="readMode" (click)="undoClick()" color="accent">
        <mat-icon>undo</mat-icon>
        Anuluj
      </button>
      <button mat-raised-button [disabled]="invoiceFormId.invalid || readMode" (click)="onSubmit(invoiceFormId.value)"
              color="primary">
        <mat-icon>save</mat-icon>
        Zapisz
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-footer-fixed></app-footer-fixed>
