$margin-right: 20px;

.example-container {
  padding: $margin-right 5px 100px;
  position: relative;

}

table {
  width: 100%;
}

.mat-flat-button {
  margin: 5px;
}

.counterparty-div {
  padding-top: $margin-right;
}

.sum-up-div {
  padding-top: $margin-right;
}

.inline-left-button {
  margin-left: $margin-right;
}

mat-card-subtitle {
  font-weight: bold;
}

.gus-button {
  margin-left: $margin-right;
}

.elements-header {
  padding-top: $margin-right;
}

.field-with-margin {
  margin-right: $margin-right;
}

.wide-field {
  width: 50%;
}

.checkbox-invoice-input {
  float: right;
  font-weight: normal;
  margin-right: 40px;
}

.normal-font {
  font-weight: normal;
}

