mat-card {
  display: block;
  overflow: auto;
  width: 350px;
}

mat-card-actions {
  float: right;
}

mat-form-field {
  width: 100%;
}

#registerForm {
  overflow: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 5px;
  padding-bottom: 85px;
  min-height: 100%;
  height: auto !important;
}

.input-with-bigger-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-progress-bar {
  padding-top: 10px;
}
