<app-toolbar></app-toolbar>
<div id="registerForm">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Rejestracja podatnika</mat-card-title>
      <mat-card-subtitle>W celu rejestracji w serwisie, wypełnij poniższy formularz i zatwierdź go przyciskiem
        "Zarejestruj"
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #taxpayerForm="ngForm" [formGroup]="registerByUserForm">
        <div class="input-with-bigger-space">
          <mat-error *ngIf="errorMessage && errorMessage.length !== 0">{{errorMessage}}</mat-error>
          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="NIP" name="NIP" placeholder="NIP" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.NIP">
              <mat-error
                *ngIf="form.NIP.hasError(validation.type) && (form.NIP.dirty || form.NIP.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button [disabled]="form.NIP.invalid" (click)="onGUSDataButtonClick(taxpayerForm.value.NIP)"
                color="primary">
          Pobierz dane z GUS
        </button>

        <mat-progress-bar *ngIf="isLoadingDataFromGUS" mode="indeterminate"></mat-progress-bar>

        <div class="input-with-bigger-space">
          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="name" name="name" placeholder="Nazwa firmy" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.name">
              <mat-error
                *ngIf="form.name.hasError(validation.type) && (form.name.dirty || form.name.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="fullWidthControl">
          <input matInput formControlName="email" name="email" placeholder="Email" required>
          <mat-error *ngFor="let validation of messages.user_validation_messages.email">
            <mat-error
              *ngIf="form.email.hasError(validation.type) && (form.email.dirty || form.email.touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>


        <form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm.value)">
          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="voivodeship" name="voivodeship" placeholder="Województwo" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.voivodeship">
              <mat-error
                *ngIf="addressFormFields.voivodeship.hasError(validation.type) && (addressFormFields.voivodeship.dirty || addressFormFields.voivodeship.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="county" name="county" placeholder="Powiat" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.county">
              <mat-error
                *ngIf="addressFormFields.county.hasError(validation.type) && (addressFormFields.county.dirty || addressFormFields.county.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="zipCode" name="zipCode" placeholder="Kod pocztowy" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.zipCode">
              <mat-error
                *ngIf="addressFormFields.zipCode.hasError(validation.type) && (addressFormFields.zipCode.dirty || addressFormFields.zipCode.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="borough" name="borough" placeholder="Gmina" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.borough">
              <mat-error
                *ngIf="addressFormFields.borough.hasError(validation.type) && (addressFormFields.borough.dirty || addressFormFields.borough.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="town" name="town" placeholder="Miejscowość" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.town">
              <mat-error
                *ngIf="addressFormFields.town.hasError(validation.type) && (addressFormFields.town.dirty || addressFormFields.town.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="street" name="street" placeholder="Ulica">
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="buildingNumber" name="buildingNumber" placeholder="Numer budynku" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.buildingNumber">
              <mat-error
                *ngIf="addressFormFields.buildingNumber.hasError(validation.type) && (addressFormFields.buildingNumber.dirty || addressFormFields.buildingNumber.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </form>


        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'person'}}</mat-icon>
          <input matInput formControlName="login" name="login" placeholder="Login" required>
          <mat-error *ngFor="let validation of messages.user_validation_messages.login">
            <mat-error
              *ngIf="form.login.hasError(validation.type) && (form.login.dirty || form.login.touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidthControl"
                        hintLabel="Min 8 znaków, w tym: min 1 mała litera, 1 wielka litera, 1 cyfra, 1 znak specjalny spośród: @#$%^&+=!*(){}[]_|<>?">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input matInput formControlName="password" name="password" placeholder="Hasło" required
                 [type]="passwordHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.user_validation_messages.password">
            <mat-error
              *ngIf="form.password.hasError(validation.type) && (form.password.dirty || form.password.touched)">{{validation.message}}</mat-error>
          </mat-error>
          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>

        <div class="input-with-bigger-space">
          <mat-form-field class="fullWidthControl">
            <mat-icon matPrefix>{{'lock'}}</mat-icon>
            <input matInput formControlName="passwordConfirmation" name="passwordConfirmation"
                   placeholder="Powtórzenie hasła" required [type]="confirmationHide ? 'password' : 'text'">
            <mat-error *ngFor="let validation of messages.user_validation_messages.passwordConfirmation">
              <mat-error
                *ngIf="form.passwordConfirmation.hasError(validation.type) && (form.passwordConfirmation.dirty || form.passwordConfirmation.touched)">{{validation.message}}</mat-error>
            </mat-error>
            <mat-icon matSuffix (click)="confirmationHide = !confirmationHide">{{confirmationHide ? 'visibility_off' :
              'visibility'}}
            </mat-icon>
          </mat-form-field>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="taxpayerForm.invalid" (click)="onSubmit(taxpayerForm.value)"
              color="primary">
        <mat-icon>save</mat-icon>
        Zarejestruj
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
