@import '~@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-pink, 800);
$my-app-accent: mat-palette($mat-cyan, 400);
$my-app-warn: mat-palette($mat-pink, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
