mat-form-field {
  padding-right: 10px;
}

.mediumWidthControl {
  width: 30%;
}

.largeWidthControl {
  width: 45%;
}

.changePasswordButton {
  margin-left: 20px;
}

.input-with-bigger-space {
  padding-top: 15px;
}

.main-container {
  padding: 20px 5px 100px;
}

mat-progress-bar {
  padding-top: 10px;
}
