<app-toolbar [title]="componentTitle"></app-toolbar>
<div class="mat-elevation-z8 main-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{cardTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form #taxpayerForm="ngForm" [formGroup]="taxpayerProfileForm">
        <mat-form-field class="mediumWidthControl">
          <mat-icon matPrefix>{{'person'}}</mat-icon>
          <input matInput formControlName="login" name="login" placeholder="Login" required>
          <mat-error *ngFor="let validation of messages.user_validation_messages.login">
            <mat-error
              *ngIf="form.login.hasError(validation.type) && (form.login.dirty || form.login.touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mediumWidthControl">
          <mat-icon matPrefix>{{'email'}}</mat-icon>
          <input matInput formControlName="email" name="email" placeholder="Email" required>
          <mat-error *ngFor="let validation of messages.user_validation_messages.email">
            <mat-error
              *ngIf="form.email.hasError(validation.type) && (form.email.dirty || form.email.touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button *ngIf="readMode" (click)="onEditButtonClick()" color="primary">
          Edytuj dane
        </button>

        <button mat-raised-button *ngIf="!usingByAdmin" class="changePasswordButton"
                (click)="onChangePasswordButtonClick()" color="primary">
          Zmień hasło
        </button>

        <button mat-raised-button *ngIf="usingByAdmin" class="changePasswordButton"
                (click)="onResetPasswordButtonClick()" color="primary">
          Resetuj hasło
        </button>

        <mat-divider></mat-divider>

        <div class="input-with-bigger-space">
          <mat-error *ngIf="errorMessage && errorMessage.length !== 0">{{errorMessage}}</mat-error>
          <mat-form-field class="mediumWidthControl">
            <input matInput formControlName="NIP" name="NIP" placeholder="NIP" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.NIP">
              <mat-error
                *ngIf="form.NIP.hasError(validation.type) && (form.NIP.dirty || form.NIP.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button *ngIf="!readMode" [disabled]="form.NIP.invalid"
                (click)="onGUSDataButtonClick(taxpayerForm.value.NIP)"
                color="primary">
          Pobierz dane z GUS
        </button>

        <mat-progress-bar *ngIf="isLoadingDataFromGUS" mode="indeterminate"></mat-progress-bar>

        <div class="input-with-bigger-space">
          <mat-form-field class="largeWidthControl">
            <input matInput formControlName="name" name="name" placeholder="Nazwa firmy" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.name">
              <mat-error
                *ngIf="form.name.hasError(validation.type) && (form.name.dirty || form.name.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm.value)">
          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="voivodeship" name="voivodeship" placeholder="Województwo" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.voivodeship">
              <mat-error
                *ngIf="addressFormFields.voivodeship.hasError(validation.type) && (addressFormFields.voivodeship.dirty || addressFormFields.voivodeship.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="county" name="county" placeholder="Powiat" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.county">
              <mat-error
                *ngIf="addressFormFields.county.hasError(validation.type) && (addressFormFields.county.dirty || addressFormFields.county.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="zipCode" name="zipCode" placeholder="Kod pocztowy" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.zipCode">
              <mat-error
                *ngIf="addressFormFields.zipCode.hasError(validation.type) && (addressFormFields.zipCode.dirty || addressFormFields.zipCode.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="borough" name="borough" placeholder="Gmina" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.borough">
              <mat-error
                *ngIf="addressFormFields.borough.hasError(validation.type) && (addressFormFields.borough.dirty || addressFormFields.borough.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="town" name="town" placeholder="Miejscowość" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.town">
              <mat-error
                *ngIf="addressFormFields.town.hasError(validation.type) && (addressFormFields.town.dirty || addressFormFields.town.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="street" name="street" placeholder="Ulica">
          </mat-form-field>

          <mat-form-field class="fullWidthControl">
            <input matInput formControlName="buildingNumber" name="buildingNumber" placeholder="Numer budynku" required>
            <mat-error *ngFor="let validation of messages.user_validation_messages.buildingNumber">
              <mat-error
                *ngIf="addressFormFields.buildingNumber.hasError(validation.type) && (addressFormFields.buildingNumber.dirty || addressFormFields.buildingNumber.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </form>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="!readMode" (click)="undoClick()" color="accent">
        <mat-icon>undo</mat-icon>
        Anuluj
      </button>

      <button mat-raised-button *ngIf="!readMode" [disabled]="taxpayerForm.invalid"
              (click)="onSubmit(taxpayerForm.value)"
              color="primary">
        <mat-icon>save</mat-icon>
        Zapisz zmiany
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
