.example-container {
  padding: 20px 5px 100px;
  position: relative;

}

table {
  width: 100%;
}

/* Column Widths */
//.mat-column-number,
//.mat-column-state {
//  max-width: 64px;
//}
//
//.mat-column-created {
//  max-width: 124px;
//}

.mat-flat-button {
  margin: 5px;
}

.counterparty-div {
  padding-top: 20px;
}

.sum-up-div {
  padding-top: 20px;
}

.inline-left-button {
  margin-left: 20px;
}

mat-card-subtitle {
  font-weight: bold;
}

.gus-button {
  margin-left: 20px;
}

.number-field {
  margin-left: 20px;
}

.elements-header {
  padding-top: 20px;
}

.field-with-margin {
  margin-right: 20px;
}

.wide-field {
  width: 50%;
}

.normal-font {
  font-weight: normal;
}
