<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>{{message}}</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" mat-raised-button mat-dialog-close>Nie</button>
  <button color="primary" mat-raised-button [mat-dialog-close]="true">Tak</button>
</mat-dialog-actions>
