<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <table mat-table [dataSource]="data" matSort matSortActive="dateOfIssue" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>Lp.</th>
          <td mat-cell *matCellDef="let row; let i = index;" (click)="onRowClick(row)">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="dateOfIssue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.dateOfIssue}}</td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Numer faktury</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.number}}</td>
        </ng-container>

        <ng-container matColumnDef="nip">
          <th mat-header-cell *matHeaderCellDef>NIP kupującego</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.counterparty.nip}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Kupujący</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.counterparty.name}}</td>
        </ng-container>

        <ng-container matColumnDef="netLow">
          <th mat-header-cell *matHeaderCellDef>Netto {{taxRate['LOW']}}%</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.netLow}}</td>
        </ng-container>

        <ng-container matColumnDef="vatLow">
          <th mat-header-cell *matHeaderCellDef>VAT {{taxRate['LOW']}}%</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.vatLow}}</td>
        </ng-container>

        <ng-container matColumnDef="netMedium">
          <th mat-header-cell *matHeaderCellDef>Netto {{taxRate['MEDIUM']}}%</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.netMedium}}</td>
        </ng-container>

        <ng-container matColumnDef="vatMedium">
          <th mat-header-cell *matHeaderCellDef>VAT {{taxRate['MEDIUM']}}%</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.vatMedium}}</td>
        </ng-container>

        <ng-container matColumnDef="netHigh">
          <th mat-header-cell *matHeaderCellDef>Netto {{taxRate['HIGH']}}%</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.netHigh}}</td>
        </ng-container>

        <ng-container matColumnDef="vatHigh">
          <th mat-header-cell *matHeaderCellDef>VAT {{taxRate['HIGH']}}%</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.vatHigh}}</td>
        </ng-container>

        <ng-container matColumnDef="gross">
          <th mat-header-cell *matHeaderCellDef>Brutto</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.gross}}</td>
        </ng-container>

        <ng-container matColumnDef="editButton">
          <th mat-header-cell *matHeaderCellDef>Edycja</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button class="invoice-button" (click)="onEditClick(row)" color="accent">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>Usuwanie</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button class="invoice-button" (click)="onDeleteClick(row)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
