<app-toolbar [title]="componentTitle"></app-toolbar>

<div id="registerAdminForm">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>{{cardTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #adminForm="ngForm" [formGroup]="adminProfileForm">
        <button mat-raised-button *ngIf="readMode" class="admin-button" (click)="onEditClick()" color="primary">
          Edytuj dane
        </button>
        <button mat-raised-button *ngIf="thisAdmin" class="admin-button" (click)="onChangePasswordClick()"
                color="primary">
          Zmień hasło
        </button>
        <button mat-raised-button *ngIf="!thisAdmin" class="admin-button" (click)="onResetPasswordClick()"
                color="primary">
          Resetuj hasło
        </button>
        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'person'}}</mat-icon>
          <input formControlName="login" name="login" matInput placeholder="Login" required>
          <mat-error *ngIf="form.login.errors">Pole wymagane</mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'email'}}</mat-icon>
          <input formControlName="email" name="email" matInput placeholder="Email" required>
          <mat-error *ngIf="form.email.errors">Pole wymagane w postaci adresu email</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="!readMode" [disabled]="adminForm.invalid" (click)="onSubmit(adminForm.value)"
              color="primary">
        <mat-icon>save</mat-icon>
        Zapisz zmiany
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
