mat-card {
  display: block;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  float: right;
}

#registerAdminForm {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-button {
  margin: 20px;
}
