<app-toolbar [title]="componentTitle"></app-toolbar>

<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Okres rozliczeniowy</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="auditFileId">
          <th mat-header-cell *matHeaderCellDef>JPK</th>
          <td mat-cell *matCellDef="let row">
            <button *ngIf="!row.auditFileId" mat-raised-button class="invoice-button"
                    (click)="onGenerateAuditFileClick(row)" color="primary">
              Generuj JPK
            </button>
            <button *ngIf="row.auditFileId" mat-stroked-button class="invoice-button" (click)="onAuditFileClick(row)"
                    color="primary">
              <mat-icon>insert_drive_file</mat-icon>
              {{row.auditFileName}}
            </button>
            <button *ngIf="row.auditFileId" mat-stroked-button class="invoice-button button-with-space"
                    (click)="onGenerateAgainAuditFileClick(row)" color="accent">
              <mat-icon>refresh</mat-icon>
            </button>
            <button *ngIf="row.auditFileId" mat-stroked-button class="invoice-button"
                    (click)="onDeleteAuditFileClick(row)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="auditFileCorrections">
          <th mat-header-cell *matHeaderCellDef>Korekty JPK</th>
          <td mat-cell *matCellDef="let row">
            <button *ngIf="row.auditFileCorrections.length === 0" mat-raised-button class="invoice-button"
                    (click)="onGenerateAuditFileCorrectionClick(row)" color="primary">
              Generuj korektę JPK
            </button>

            <button *ngIf="row.auditFileCorrections.length !== 0" mat-raised-button
                    class="invoice-button button-with-top-bottom-space"
                    (click)="onGenerateAuditFileCorrectionClick(row)" color="primary">
              Generuj kolejną korektę JPK
            </button>

            <div *ngFor="let correction of row.auditFileCorrections">
              <button mat-stroked-button class="invoice-button button-with-top-bottom-space"
                      (click)="onAuditFileCorrectionClick(correction)" color="primary">
                <mat-icon>insert_drive_file</mat-icon>
                {{correction.fileName}}
              </button>
              <button mat-stroked-button class="invoice-button button-with-space button-with-top-bottom-space"
                      (click)="onGenerateAgainAuditFileCorrectionClick(correction, row)" color="accent">
                <mat-icon>refresh</mat-icon>
              </button>
              <button mat-stroked-button class="invoice-button button-with-top-bottom-space"
                      (click)="onDeleteAuditFileCorrectionClick(correction, row)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>

<app-footer-fixed></app-footer-fixed>
