table {
  width: 100%;
}

.invoice-button {
  min-width: 10px;
}

.button-with-space {
  margin-left: 10px;
  margin-right: 10px;
}

.button-with-top-bottom-space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-elevation-z8 {
  margin: 5px 5px 85px;
}
