<app-toolbar [title]="componentTitle"></app-toolbar>
<div id="changePasswordForm">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Zmiana hasła</mat-card-title>
      <mat-card-subtitle>W celu zmiany hasła wypełnij poniższy formularz i zatwierdź go przyciskiem "Zapisz zmiany"
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-error *ngIf="errorMessage && errorMessage.length != 0">{{errorMessage}}</mat-error>
      <form #passwordForm="ngForm" [formGroup]="changePasswordForm">
        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input formControlName="oldPassword" name="oldPassword" matInput placeholder="Obecne hasło" required
                 [type]="oldPasswordHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.user_validation_messages.oldPassword">
            <mat-error
              *ngIf="form.oldPassword.hasError(validation.type) && (form.oldPassword.dirty || form.oldPassword.touched)">{{validation.message}}</mat-error>
          </mat-error>
          <mat-icon matSuffix (click)="oldPasswordHide = !oldPasswordHide">{{oldPasswordHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input formControlName="newPassword" name="newPassword" matInput placeholder="Nowe hasło" required
                 [type]="newPasswordHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.user_validation_messages.newPassword">
            <mat-error
              *ngIf="form.newPassword.hasError(validation.type) && (form.newPassword.dirty || form.newPassword.touched)">{{validation.message}}</mat-error>
          </mat-error>
          <mat-icon matSuffix (click)="newPasswordHide = !newPasswordHide">{{newPasswordHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" matInput
                 placeholder="Powtórzenie nowego hasła" required
                 [type]="newPasswordConfirmationHide ? 'password' : 'text'">
          <mat-error *ngFor="let validation of messages.user_validation_messages.newPasswordConfirmation">
            <mat-error
              *ngIf="form.newPasswordConfirmation.hasError(validation.type) && (form.newPasswordConfirmation.dirty || form.newPasswordConfirmation.touched)">{{validation.message}}</mat-error>
          </mat-error>
          <mat-icon matSuffix
                    (click)="newPasswordConfirmationHide = !newPasswordConfirmationHide">{{newPasswordConfirmationHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onUndoClick()" color="accent">
        <mat-icon>undo</mat-icon>
        Anuluj
      </button>
      <button mat-raised-button [disabled]="passwordForm.invalid" (click)="onSubmit(passwordForm.value)"
              color="primary">
        Zapisz zmiany
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
