mat-card {
  display: block;
  overflow: auto;
}

mat-form-field {
  width: 100%;
  padding-top: 20px;
}

mat-card-actions {
  float: right;
}

#changePasswordForm {
  width: 45%;
  overflow: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 15%);
  min-height: 100%;
  height: auto !important;
}
