<!--toolbar for not login user-->
<mat-toolbar color="primary" *ngIf="!currentUser" class="mat-elevation-z6">
  <mat-toolbar-row class="login-menu">
    <mat-icon svgIcon="invest" class="menuIcon"></mat-icon>
    <span>Pliki kontrolne VAT</span>
    <span class="fill-remaining-space"></span>
    <span><a href="/user/taxpayer/taxpayer-add" mat-button>Rejestracja</a></span>
    <span><a href="/user/login" mat-button>Logowanie</a></span>
  </mat-toolbar-row>
</mat-toolbar>


<!--toolbar for login user-->
<mat-toolbar color="primary" *ngIf="currentUser">
  <mat-toolbar-row class="mat-elevation-z6">
    <mat-icon svgIcon="invest" class="menuIcon"></mat-icon>
    <span>Pliki kontrolne VAT</span>

    <span *ngIf="isAdmin()"><a (click)="onClickTaxpayerList()" mat-button>Podatnicy</a></span>
    <span *ngIf="isAdmin()"><a (click)="onClickAdminList()" mat-button>Administratorzy</a></span>

    <span *ngIf="!isAdmin()"><a (click)="onClickAuditFileList()" mat-button>JPK</a></span>
    <span *ngIf="!isAdmin()"><a (click)="onClickRecordList()" mat-button>Rejestry VAT</a></span>

    <span><a (click)="onClickUserProfile()" mat-button>Twój profil</a></span>

    <span class="fill-remaining-space"></span>
    <span><a (click)="redirectHome()" mat-button>
    <mat-icon>{{'home'}}</mat-icon>
  </a></span>
    <span><a (click)="logout()" mat-button>Wyloguj</a></span>
  </mat-toolbar-row>

  <mat-toolbar-row class="mat-title">
    <span *ngIf="title">{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
