<app-toolbar></app-toolbar>
<div id="loginForm">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Logowanie</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-error *ngIf="submitted && !loading">{{errorMessage}}</mat-error>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'person'}}</mat-icon>
          <input formControlName="login" name="login" matInput placeholder="Login" required>
          <mat-error *ngIf="form.login.errors">Pole wymagane</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidthControl">
          <mat-icon matPrefix>{{'lock'}}</mat-icon>
          <input formControlName="password" name="password" matInput placeholder="Hasło" required
                 [type]="passwordHide ? 'password' : 'text'">
          <mat-error *ngIf="form.password.errors">Pole wymagane</mat-error>
          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="loginForm.invalid" (click)="onSubmit()" color="primary">
        Zaloguj
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
