.mat-elevation-z8 {
  padding: 20px 5px 100px;
  position: relative;
  overflow: auto;
}

.field-with-margin {
  margin-right: 20px;
}

table {
  width: 100%;
}

mat-card-subtitle {
  font-weight: bolder;
}
