<app-toolbar [title]="componentTitle"></app-toolbar>

<div id="recordNavigation" class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>

      <form [formGroup]="reckoningForm">
        <mat-form-field class="field-with-margin">
          <mat-select formControlName="reckoningName" [compareWith]="compareFn"
                      (ngModelChange)="onChangeSelectedReckoning()"
                      placeholder="Okres rozliczeniowy">
            <mat-option *ngFor="let recordNameItem of reckoningNameItems" [value]="recordNameItem">
              {{recordNameItem.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onAddNewInvoiceClick()">
          <mat-icon>add</mat-icon>
          Dodaj nową fakturę
        </button>
      </form>


      <mat-tab-group animationDuration="2000ms" [selectedIndex]="findSelectedTabIndex()"
                     (selectedIndexChange)="onTabChange()">
        <mat-tab label="Rejestr sprzedaży">
          <app-sale-invoice-list [invoices]="saleInvoices"></app-sale-invoice-list>
        </mat-tab>
        <mat-tab label="Rejestr zakupu">
          <app-purchase-invoice-list [invoices]="purchaseInvoices"></app-purchase-invoice-list>
        </mat-tab>
      </mat-tab-group>

      <div class="sum-up-record-div">
        <mat-card-subtitle>Podsumowanie</mat-card-subtitle>

        <table mat-table [dataSource]="data">

          <ng-container matColumnDef="netLow">
            <th mat-header-cell *matHeaderCellDef>Netto {{taxRate['LOW']}}%</th>
            <td mat-cell *matCellDef="let row">{{row.sumNetLow}}</td>
          </ng-container>

          <ng-container matColumnDef="vatLow">
            <th mat-header-cell *matHeaderCellDef>VAT {{taxRate['LOW']}}%</th>
            <td mat-cell *matCellDef="let row">{{row.sumVatLow}}</td>
          </ng-container>

          <ng-container matColumnDef="netMedium">
            <th mat-header-cell *matHeaderCellDef>Netto {{taxRate['MEDIUM']}}%</th>
            <td mat-cell *matCellDef="let row">{{row.sumNetMedium}}</td>
          </ng-container>

          <ng-container matColumnDef="vatMedium">
            <th mat-header-cell *matHeaderCellDef>VAT {{taxRate['MEDIUM']}}%</th>
            <td mat-cell *matCellDef="let row">{{row.sumVatMedium}}</td>
          </ng-container>

          <ng-container matColumnDef="netHigh">
            <th mat-header-cell *matHeaderCellDef>Netto {{taxRate['HIGH']}}%</th>
            <td mat-cell *matCellDef="let row">{{row.sumNetHigh}}</td>
          </ng-container>

          <ng-container matColumnDef="vatHigh">
            <th mat-header-cell *matHeaderCellDef>VAT {{taxRate['HIGH']}}%</th>
            <td mat-cell *matCellDef="let row">{{row.sumVatHigh}}</td>
          </ng-container>

          <ng-container matColumnDef="net">
            <th mat-header-cell *matHeaderCellDef>Suma netto</th>
            <td mat-cell *matCellDef="let row">{{countSumNet()}}</td>
          </ng-container>

          <ng-container matColumnDef="vat">
            <th mat-header-cell *matHeaderCellDef>Suma VAT</th>
            <td mat-cell *matCellDef="let row">{{countSumVat()}}</td>
          </ng-container>

          <ng-container matColumnDef="gross">
            <th mat-header-cell *matHeaderCellDef>Suma brutto</th>
            <td mat-cell *matCellDef="let row">{{row.sumGross}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

    </mat-card-content>
  </mat-card>
</div>

<app-footer-fixed></app-footer-fixed>
