.fill-remaining-space {
  flex: 1 1 auto;
}

footer {
  background-color: #AD1457;
  color: whitesmoke;
  position: relative;
  width: 100%;
  height: 80px;
  font-size: x-small;
  font-weight: normal;
}

.footerIcon {
  position: relative;
  padding-left: 8px;
  padding-top: 8px;
  transform: scale(2.5);
}

.author-span {
  padding-top: 10px;
}
