<footer>
  <mat-toolbar-row class="footer-div">
    <mat-icon svgIcon="invest" class="footerIcon"></mat-icon>
    <span class="fill-remaining-space"></span>
    <span class="author-span">&copy; 2018-2019 Alicja Reniewicz</span>
  </mat-toolbar-row>
</footer>
