<app-toolbar [title]="componentTitle"></app-toolbar>

<div class="mat-elevation-z8">
  <button mat-raised-button class="new-admin-button" (click)="onCreateAdminClick()" color="primary">
    <mat-icon>add</mat-icon>
    Dodaj nowego administratora
  </button>

  <mat-card>
    <mat-card-content>

      <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>Lp.</th>
          <td mat-cell *matCellDef="let row; let i = index;" (click)="onRowClick(row)">
            {{(paginator.pageIndex) * paginator.pageSize + i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="login">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.login}}</td>
        </ng-container>

        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.userId}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">{{row.email}}</td>
        </ng-container>

        <ng-container matColumnDef="editButton">
          <th mat-header-cell *matHeaderCellDef>Edycja</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button class="user-button" (click)="onEditClick(row)" color="accent">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>Usuwanie</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button class="user-button" (click)="onDeleteClick(row)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
<app-footer-fixed></app-footer-fixed>
