<form #elementInvoiceForm="ngForm" [formGroup]="elementForm">
  <mat-card-subtitle>Nowa pozycja</mat-card-subtitle>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nazwa" required>
      <mat-error
        *ngIf="form.name.hasError('required') && (form.name.dirty || form.name.touched)">{{requiredMsg}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="net" placeholder="Netto" (ngModelChange)="onChangeNet()" required>
      <mat-error
        *ngIf="(form.net.hasError('required') ||  form.net.hasError('pattern')) && (form.net.dirty || form.net.touched)">{{invalidAmountMsg}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="taxRate" placeholder="Stawka VAT" (ngModelChange)="onChangeTaxRate()" required>
        <mat-option *ngFor="let rate of taxRate.values()" [value]="taxRate[rate]">
          {{rate}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.taxRate.hasError('required') && (form.taxRate.dirty || form.taxRate.touched)">{{requiredMsg}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="vat" placeholder="VAT" (ngModelChange)="onChangeVat()" required>
      <mat-error
        *ngIf="(form.vat.hasError('required') ||  form.vat.hasError('pattern')) && (form.vat.dirty || form.vat.touched)">{{invalidAmountMsg}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="gross" placeholder="Brutto" required>
      <mat-error
        *ngIf="(form.gross.hasError('required') ||  form.gross.hasError('pattern')) && (form.gross.dirty || form.gross.touched)">{{invalidAmountMsg}}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button type="button" color="accent" mat-dialog-close>
      <mat-icon>undo</mat-icon>
      Anuluj
    </button>
    <button mat-raised-button [disabled]="elementInvoiceForm.invalid" (click)="submit(elementInvoiceForm)"
            color="primary">
      Zapisz
    </button>
  </mat-dialog-actions>

</form>
