<app-toolbar [title]="componentTitle"></app-toolbar>
<mat-grid-list cols="2" rowHeight="3:1" [gutterSize]="'45px'">
  <mat-grid-tile (click)="onTaxpayersListClick()">
    <mat-icon>view_headline</mat-icon>
    Lista podatników
  </mat-grid-tile>

  <mat-grid-tile (click)="onEditTaxpayerClick()">
    <mat-icon>edit</mat-icon>
    Edytuj podatnika
  </mat-grid-tile>

  <mat-grid-tile (click)="onAdminListClick()">
    <mat-icon>view_headline</mat-icon>
    Lista administratorów
  </mat-grid-tile>

  <mat-grid-tile (click)="onCreateNewAdminClick()">
    <mat-icon>build</mat-icon>
    Utwórz administratora
  </mat-grid-tile>
</mat-grid-list>

<app-footer-relative></app-footer-relative>

